instance_region = "us-east-1"
ami = "ami-079ca844e323047c2" //ubuntu20.04 us-east-1
instance_type = "t3.micro"
key_name =
github_repo_url =
github_repo_token =
github_runner_version = "2.296.1"
runner_name =
